.button-call,
.button-moreless,
.button-more,
.button-less, .button-plus::after,
.button-minus::after, .arrow-collapsed::after,
.arrow-deployed::after, input[type='submit'], input[type='text'],
input[type='phone'],
input[type='email'], .header__wrapper .header__navigation ul li a:after {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

html body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  background-color: #090303;
  /* background-color: grey; */
}

.h1-text {
  font-size: 6.4rem;
  color: #ffffff;
  font-weight: 900;
}

.h2-text {
  font-size: 4rem;
  color: #ffffff;
  font-weight: 900;
}

.h3-text {
  font-size: 2.4rem;
  color: #ffffff;
  font-weight: 900;
}

.main-text {
  font-size: 1.6rem;
  color: #ffffff;
}

.info-text {
  font-size: 1.6rem;
  color: #090302;
}

.selected-text {
  color: #557c93;
}

a {
  color: #ffffff;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  background: none;
}

input[type='submit'] {
  cursor: pointer;
}

.button-call,
.button-moreless,
.button-more,
.button-less {
  width: 193px;
  height: 51px;
  font-size: 1.6rem;
  color: #ffffff;
  background-color: #d62828;
}

.button-call:hover,
.button-moreless:hover,
.button-more:hover,
.button-less:hover {
  background-color: #8a1a1a;
}

.button-call:active,
.button-moreless:active,
.button-more:active,
.button-less:active {
  background-color: #b5b5b5;
}

.button-more,
.button-less {
  width: 175px;
  height: 51px;
  padding-left: 32px;
  line-height: 19px;
  text-align: left;
  border: 2px solid #d62828;
  background-color: transparent;
}

.button-more:hover,
.button-less:hover {
  border-color: #8a1a1a;
}

.button-more:active,
.button-less:active {
  border-color: #b5b5b5;
}

.button-less {
  width: 218px;
}

.button-plus::after,
.button-minus::after {
  position: absolute;
  top: 50%;
  right: 16px;
  display: block;
  width: 24px;
  height: 24px;
  content: '';
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.button-plus::after {
  background-image: url(./assets/icons/plus.svg);
}

.button-minus::after {
  background-image: url(./assets/icons/minus.svg);
}

.arrow-collapsed::after,
.arrow-deployed::after {
  position: absolute;
  right: 32px;
  top: 50%;
  display: block;
  width: 16px;
  height: 16px;
  content: '';
  background-image: url(./assets/icons/arrow.svg);
  background-size: 100%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.arrow-deployed::after {
  -webkit-transform: rotate(-90deg) translateX(50%);
          transform: rotate(-90deg) translateX(50%);
}

input[type='submit'] {
  width: 272px;
  height: 51px;
  font-size: 1.6rem;
  color: #ffffff;
  background-color: #d62828;
}

input[type='submit']:hover {
  background-color: #8a1a1a;
}

input[type='submit']:active {
  background-color: #b5b5b5;
}

input[type='text'],
input[type='phone'],
input[type='email'] {
  width: 272px;
  height: 51px;
  padding: 16px;
  font-size: 1.6rem;
  color: #090302;
  background-color: #ffffff;
}

input[type='text']::-webkit-input-placeholder,
input[type='phone']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder {
  color: #090302;
}

input[type='text']:-ms-input-placeholder,
input[type='phone']:-ms-input-placeholder,
input[type='email']:-ms-input-placeholder {
  color: #090302;
}

input[type='text']::-ms-input-placeholder,
input[type='phone']::-ms-input-placeholder,
input[type='email']::-ms-input-placeholder {
  color: #090302;
}

input[type='text']::placeholder,
input[type='phone']::placeholder,
input[type='email']::placeholder {
  color: #090302;
}

.wrapper {
  position: relative;
  max-width: 1792px;
  margin: 0 auto;
}

.header {
  z-index: 1;
  position: absolute;
  margin: 0 auto;
  width: 100%;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 8px 0;
}

.header__wrapper .header__logo {
  width: 122px;
  height: 100px;
  background-image: url(./assets/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.header__wrapper .header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 32px;
  font-size: 1.4rem;
  line-height: 17px;
  font-weight: 700;
}

.header__wrapper .header__info li a {
  position: relative;
  padding-left: 32px;
}

.header__wrapper .header__info li a::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  content: '';
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__wrapper .header__info li:nth-child(1) a::before {
  background-image: url(./assets/icons/phone.svg);
}

.header__wrapper .header__info li:nth-child(2) a::before {
  background-image: url(./assets/icons/mail.svg);
}

.header__wrapper .header__info li:nth-child(3) a::before {
  background-image: url(./assets/icons/map-pin.svg);
}

.header__wrapper .header__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 32px;
  font-size: 1.6rem;
  line-height: 19px;
  font-weight: 500;
}

.header__wrapper .header__navigation ul li a {
  position: relative;
}

.header__wrapper .header__navigation ul li a:after {
  position: absolute;
  bottom: -16px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  content: '';
  background-color: #ffffff;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.header__wrapper .header__navigation ul li a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.main {
  position: relative;
}

.main .main__overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url(./assets/images/man-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -220px;
}

.main .main__overlay:after {
  display: block;
  width: 100%;
  height: 100vh;
  content: '';
  background-color: #090302cc;
}

.screen__wrapper {
  height: 100vh;
  padding-top: calc(128px + 116px);
}

.screen__wrapper .screen__title {
  width: 954px;
  margin-bottom: 32px;
  line-height: 64px;
}

.screen__wrapper .screen__text {
  width: 511px;
  margin-bottom: 48px;
  font-weight: 400;
  line-height: 19px;
}

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px 0 64px 0;
}

.services__wrapper .services__caption {
  margin-bottom: 48px;
}

.services__wrapper .services__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 40px;
}

.services__wrapper .services__description .description__item {
  width: 424px;
  background-color: #ffffff;
}

.services__wrapper .services__description .item__image {
  width: 100%;
  height: 389px;
  background-color: #868686;
}

.services__wrapper .services__description .item__service {
  margin: 24px 32px 10px 32px;
  font-weight: 900;
  line-height: 19px;
}

.services__wrapper .services__description .item__clarification {
  margin: 0 32px 48px 32px;
  font-weight: 400;
  line-height: 19px;
}

.services__wrapper .services__button {
  position: relative;
}

.about__wrapper {
  padding: 80px 0 126px 0;
}

.about__wrapper .about__title {
  margin-bottom: 48px;
}

.about__wrapper .about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
  height: 576px;
}

.about__wrapper .about__block .block__image {
  width: 576px;
  height: 100%;
  background-color: #868686;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.about__wrapper .about__block .block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 576px;
  height: 576px;
  font-weight: 400;
  line-height: 19px;
}

.engine__wrapper {
  padding: 80px 0 86px 0;
}

.engine__wrapper .engine__title {
  margin-bottom: 48px;
}

.engine__wrapper .engine__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
  height: 576px;
}

.engine__wrapper .engine__block .block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 576px;
  height: 576px;
  text-align: right;
  font-weight: 400;
  line-height: 19px;
}

.engine__wrapper .engine__block .block__image {
  width: 576px;
  height: 100%;
  background-color: #868686;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.pumps__wrapper {
  padding: 80px 0 126px 0;
}

.pumps__wrapper .pumps__title {
  margin-bottom: 48px;
}

.pumps__wrapper .pumps__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
  height: 576px;
}

.pumps__wrapper .pumps__block .block__image {
  width: 576px;
  height: 100%;
  background-color: #868686;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.pumps__wrapper .pumps__block .block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 576px;
  height: 576px;
  font-weight: 400;
  line-height: 19px;
}

.questions__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px 0 99px 0;
}

.questions__wrapper .questions__block {
  width: 445px;
  margin-bottom: 17px;
}

.questions__wrapper .questions__block .block__title {
  margin-bottom: 24px;
}

.questions__wrapper .questions__block .block__text {
  font-weight: 400;
  line-height: 19px;
}

.questions__wrapper .questions__form ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
}

.certificates__wrapper {
  padding: 80px 0 102px 0;
}

.certificates__wrapper .certificates__title {
  margin-bottom: 48px;
}

.certificates__wrapper .certificates__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
}

.certificates__wrapper .certificates__item .item__description {
  width: 424px;
  height: 600px;
  background-color: #ffffff;
}

.certificates__wrapper .certificates__item .item__description .description__image {
  height: 471px;
  background-color: #868686;
}

.certificates__wrapper .certificates__item .item__description .description__text {
  margin: 24px 32px 48px 32px;
  font-weight: 900;
  line-height: 19px;
}

.prices__wrapper {
  padding: 80px 0 102px 0;
}

.prices__wrapper .prices__title {
  margin-bottom: 24px;
}

.prices__wrapper .prices__chapter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.prices__wrapper .prices__chapter .chapter__caption {
  width: 423px;
}

.prices__wrapper .prices__chapter .chapter__caption .caption__message {
  margin-bottom: 48px;
}

.prices__wrapper .prices__chapter .chapter__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.prices__wrapper .prices__chapter .chapter__table .table__price {
  width: 334px;
  text-align: left;
  border-collapse: collapse;
}

.prices__wrapper .prices__chapter .chapter__table .table__price th {
  width: 334px;
  height: 36px;
  padding: 0 16px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19px;
  color: #ffffff;
  background-color: #557c93;
  border: 1px solid #ffffff;
}

.prices__wrapper .prices__chapter .chapter__table .table__price td {
  width: 334px;
  height: 65px;
  padding: 0 16px;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 29px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
}

.cooperation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px 0 306px 0;
}

.cooperation__wrapper .cooperation__title {
  margin-bottom: 48px;
}

.cooperation__wrapper .cooperation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
}

.cooperation__wrapper .cooperation__item .item__description {
  width: 272px;
  height: 396px;
  background-color: #ffffff;
}

.cooperation__wrapper .cooperation__item .item__description .description__image {
  width: 100%;
  height: 272px;
  background-color: #868686;
}

.cooperation__wrapper .cooperation__item .item__description .description__text {
  margin: 24px 32px;
  font-weight: 400;
  line-height: 19px;
}

.faq__wrapper {
  padding: 80px 0 286px 0;
}

.faq__wrapper .faq__title {
  margin-bottom: 48px;
}

.faq__wrapper .faq__accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}

.faq__wrapper .faq__accordion .accordion__list {
  width: 1184px;
}

.faq__wrapper .faq__accordion .accordion__list .list__button {
  position: relative;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  color: #090302;
  background-color: #ffffff;
  padding: 18.5px 56px 18.5px 16px;
}

.faq__wrapper .faq__accordion .accordion__list .list__item {
  width: 1006px;
  padding: 32px 16px;
  font-weight: 400;
  line-height: 19px;
  background-color: transparent;
}

.faq__wrapper .faq__accordion .accordion__list .item-collapsed {
  display: none;
}

.faq__wrapper .faq__accordion .accordion__list .item-deployed {
  display: block;
}
/*# sourceMappingURL=style.css.map */