.footer {
  background-color: $footer-bg-color;

  .footer__wrapper {
    padding: 80px 65px 40px 65px;

    .form__info {
      @include alignment(space-between, flex-start, row, wrap);
      row-gap: 32px;
      column-gap: 24px;
      margin-bottom: 45px;

      .info__form {
        ul {
          .form__text {
            width: 432px;
            margin-bottom: 16px;
          }

          .form__phone {
            width: 432px;
            margin-bottom: 16px;
          }

          .form__submit {
            margin-bottom: 4px;
          }

          .form__notification {
            width: 272px;
            font-weight: 400;
            line-height: 15px;
          }
        }
      }

      .info__contacts {
        width: 390px;

        .contacts__title {
          margin-bottom: 16px;
          line-height: 29px;
        }

        .contacts__list {
          line-height: 17px;

          li {
            position: relative;
            margin-bottom: 16px;
            padding-left: 34px;

            &::before {
              position: absolute;
              left: 0;
              top: 0;
              display: block;
              width: 24px;
              height: 24px;
              content: '';
              background-repeat: no-repeat;
              background-size: 100%;
              background-position: center;
            }
          }

          .list__phone {
            &::before {
              background-image: url(./assets/icons/phone.svg);
            }
          }

          .list__email {
            &::before {
              background-image: url(./assets/icons/mail.svg);
            }
          }

          .list__mail {
            &::before {
              background-image: url(./assets/icons/map-pin.svg);
            }
          }

          .list__address {
            &::before {
              background-image: url(./assets/icons/map-pin.svg);
            }
          }
        }
      }

      .info__requisites {
        .requisites__title {
          line-height: 29px;
          margin-bottom: 16px;
        }

        .requisites__item {
          margin-bottom: 24px;
          line-height: 17px;

          li {
            &:first-child {
              margin-bottom: 20px;
            }
          }
        }

        .requisites__schedule {
          margin-bottom: 16px;
          line-height: 17px;
        }

        .requisites__days {
          @include alignment(space-between, center, row, wrap);
          column-gap: 32px;

          .days__week {
            p {
              &:first-child {
                margin-bottom: 7px;
              }
            }
          }
        }
      }
    }

    .footer__copyright {
      width: 100%;
      text-align: center;
      line-height: 17px;
    }
  }
}
