.prices__wrapper {
  @include alignment(space-between, center, row, wrap);
  padding: 80px 0 102px 0;
  background-color: red;

  .prices__caption {
    width: 423px;

    .caption__title {
      margin-bottom: 24px;
    }

    .caption__message {
      margin-bottom: 48px;
    }
  }

  .prices__table {
    @include alignment(space-between, center, row, wrap);

    .table__price {
      width: 334px;
      text-align: left;

      th {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
      }
    }
  }
}
