html {
  font-size: 10px;
  scroll-behavior: smooth;

  body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    background-color: $primary-bg-color;
    /* background-color: grey; */
  }
}

.h1-text {
  font-size: $h1-text-size;
  color: $h1-text-color;
  font-weight: 900;
}

.h2-text {
  font-size: $h2-text-size;
  color: $h2-text-color;
  font-weight: 900;
}

.h3-text {
  font-size: $h3-text-size;
  color: $h3-text-color;
  font-weight: 900;
}

.main-text {
  font-size: $main-text-size;
  color: $main-text-color;
}

.info-text {
  font-size: $info-text-size;
  color: $info-text-color;
}

.selected-text {
  color: $selected-text-color;
}
