.button-call,
.button-moreless {
  padding: 16px 32px;
  font-size: $button-text-size;
  color: $button-text-color;
  background-color: $button-main-bg-color;
  @extend %transition;

  &:hover {
    background-color: $button-hover-bg-color;
  }

  &:active {
    background-color: $button-active-bg-color;
  }
}

.button-moreless {
  padding: 16px 52px 16px 32px;
  border: 2px solid $button-main-bg-color;
  background-color: $button-secondary-bg-color;

  &:hover {
    border-color: $button-hover-bg-color;
  }

  &:active {
    border-color: $button-active-bg-color;
  }
}
