.button-call,
.button-moreless,
.button-more,
.button-less {
  width: 193px;
  height: 51px;
  font-size: $button-text-size;
  color: $button-text-color;
  background-color: $button-main-bg-color;
  @extend %transition;

  &:hover {
    background-color: $button-hover-bg-color;
  }

  &:active {
    background-color: $button-active-bg-color;
  }
}

.button-more,
.button-less {
  width: 175px;
  height: 51px;
  padding-left: 32px;
  line-height: 19px;
  text-align: left;
  border: 2px solid $button-main-bg-color;
  background-color: $button-secondary-bg-color;

  &:hover {
    border-color: $button-hover-bg-color;
  }

  &:active {
    border-color: $button-active-bg-color;
  }
}

.button-less {
  width: 218px;
}

.button-plus,
.button-minus {
  &::after {
    position: absolute;
    top: 50%;
    right: 16px;
    display: block;
    width: 24px;
    height: 24px;
    content: '';
    transform: translateY(-50%);
    @extend %transition;
  }
}

.button-plus {
  &::after {
    background-image: url(./assets/icons/plus.svg);
  }
}

.button-minus {
  &::after {
    background-image: url(./assets/icons/minus.svg);
  }
}
