a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  background: none;
}

input[type='submit'] {
  cursor: pointer;
}
