$h1-text-size: 6.4rem;
$h2-text-size: 4rem;
$h3-text-size: 2.4rem;

$menu-link-size: 1.4rem;
$menu-button-size: 1.6rem;
$button-text-size: 1.6rem;
$form-text-size: 1.6rem;

$mini-text-size: 1.2rem;
$small-text-size: 1.4rem;
$main-text-size: 1.6rem;
$info-text-size: 1.6rem;
$hight-text-size: 2rem;
$price-text-size: 2.4rem;

$h1-text-color: #ffffff;
$h2-text-color: #ffffff;
$h3-text-color: #ffffff;
$main-text-color: #ffffff;
$selected-text-color: #557c93;
$info-text-color: #090302;
$button-text-color: #ffffff;
$form-text-color: #090302;
$link-text-color: #ffffff;
$question-text-color: #090302;
$mini-text-color: #ffffff;

$primary-bg-color: #090303;
$secondary-bg-color: #ffffff;
$overlay-bg-color: #090302cc;
$additional-bg-color: #868686;
$line-bg-color: #081f3e;
$table-bg-color: #557c93;
$footer-bg-color: #557c93;

$selected-text-color: #557c93;

$button-main-bg-color: #d62828;
$button-secondary-bg-color: transparent;
$button-hover-bg-color: #8a1a1a;
$button-active-bg-color: #b5b5b5;

$underline-bg-color: #ffffff;
$arrow-color: #ffffff;
$arrow-button-bg-color: #557c93;

$table-border-color: #ffffff;
